<%- include("header.ejs") %>
<center><h1>Contact Us</h1></center>
<p><center>
    For any clarifications, kindly write to the following: <br>
    <b>Yash Srivastava</b>
    <br>
    <a href = "https://srivastava.yash5402@gmail.com">srivastava.yash5402@gmail.com</a>
    </center>
</p>
<%- include("footer.ejs") %>